/* Content
-----------------------------------------------------------------------------*/
#middle .container {
	width: 100%;
	float: left;
	overflow: hidden;
	margin-right: -100%;
}

#content{
}

#notification-area {
}

/* Entry
-----------------------------------------------------------------------------*/

#content .entry{
	font-family: Verdana, sans-serif;
	padding: 15px;
	font-size: 14px;
	line-height: 160%;
	word-wrap: break-word;
}

#content .entry .date {
	font-size: 11px;
	color: #222;
}

/*---------------------------------------------------------------------------*/

/*---------------------------------------------------------------------------*/
