/* Middle
-----------------------------------------------------------------------------*/
#middle{
	border-right: 250px solid transparent;
}
/*---------------------------------------------------------------------------*/

/* Right Sidebar
-----------------------------------------------------------------------------*/
#right-sidebar{
	float: right;
	margin-right: -250px;
	width: 245px;
	position: relative;
	background: none;
}
/*---------------------------------------------------------------------------*/
