/* Middle
-----------------------------------------------------------------------------*/
#middle .container{
	width: 60%;
}
/*---------------------------------------------------------------------------*/

/* Right Sidebar
-----------------------------------------------------------------------------*/
#right-sidebar{
	float: left;
	width: 20%;
	background: none;
}
/*---------------------------------------------------------------------------*/
