{% extends "base.html" %}
{% block left-sidebar %}
	{% load menu %}
	{% menu "nav" %}
{% endblock left-sidebar %}
{% block content-class %}class="block"{% endblock %}
{% block content %}
	{% if entries %}
		{% for entry in entries %}
			{% if not is_page %}
				<div class="block m5 entry">
			{% else %}
				<div class="entry">
			{% endif %}

			{% if entry.type == "article" %}
				<p class="date">{{ entry.date|date:"SHORT_DATE_FORMAT" }}</p>
			{% endif %}

			{% if not is_page %}
			<h2 class="title">
				<a href="{{ entry.get_link }}">{{ entry.title }}</a>
			</h2>
			{% endif %}

			<p class="text">
			{% if not is_page %}
				{{ entry.text|safe|truncatechars:200 }}
			{% else %}
				{{ entry.text|safe }}
			{% endif %}
			</p>
			</div>
		{% endfor %}
	{% else %}
	{% include "snippets/msg.html" with type="warning" text="Новостей нет" %}
	{% endif %}
{% endblock content %}
