{% extends "base.html" %}
{% load staticfiles %}
{% block section-style %}
	<link rel="stylesheet" href="{% static "site/css/news.css" %}">
{% endblock section-style %}
{% block section-title %} Новости — {% endblock %}
{% block content-title %} Новости {% endblock %}
{% block left-sidebar %}
	{% load menu %}
	{% menu "nav" %}
{% endblock left-sidebar %}
{% block content-class %}class="block"{% endblock %}
{% block content %}
	{% if entries %}
		{% for entry in entries %}
			<div class="block m5 entry">

			{% if entry.type == "article" %}
				<p class="date">{{ entry.date|date:"SHORT_DATE_FORMAT" }}</p>
			{% endif %}

			<h2 class="title">
				<a href="{{ entry.get_link }}">{{ entry.title }}</a>
			</h2>

			<p class="text">
				{{ entry.text|safe|truncatechars:200 }}
			</p>
			</div>
		{% endfor %}
	{% else %}
	{% include "snippets/msg.html" with type="warning" text="Новостей нет" %}
	{% endif %}
{% endblock content %}
